<h1><%= @project.title %></h1>

<h2>Built with:</h2>
<ul>
  <% @project.technologies.each do |technology| %>
    <li>
      <a href="<%= technology_path technology %>" alt="<%= technology.name %>" style="text-decoration: none;">
        <img src="<%= technology.icon_url %>" style="width: 24px; height: 24px;"/>
        <%= technology.name %>
      </a>
    </li>
  <% end %>
</ul>

<% if not @project.project_urls.empty? %>
  <h2>Links</h2>
  <ul>
    <% @project.project_urls.each do |project_url| %>
      <li><%= link_to project_url.title, project_url.url %></li>
    <% end %>
  </ul>
<% end %>

