<% provide :title, "Project: #{@project.title}" %>

<h1><%= @project.title %></h1>

<h2>Built with:</h2>
<ul>
  <% @project.technologies.each do |technology| %>
    <li>
      <a href="<%= technology_path technology %>" alt="<%= technology.name %>" style="text-decoration: none;">
        <img src="<%= technology.icon_url %>" style="width: 24px; height: 24px;"/>
        <%= technology.name %>
      </a>
    </li>
  <% end %>
</ul>

<% if not @project.urls.blank? %>
  <h2>Links</h2>
  <ul>
    <% @project.urls.each do |project_url| %>
      <li><%= link_to project_url.title, project_url.url %></li>
    <% end %>
  </ul>
<% end %>

<% unless @project.screenshots.blank? %>
  <h2>Screenshots</h2>
  <ul>
    <div id="carousel-screenshots" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <% (0..@project.screenshots.length() - 1).each do |i| %>
          <button type="button" data-bs-target="#carousel-screenshots" data-bs-slide-to="<%= i %>" class="<%= i == 0 ? "active" : "" %>" style="filter: invert(57%) sepia(37%) saturate(274%) hue-rotate(178deg) brightness(90%) contrast(96%);"></button>
        <% end %>
      </div>
      <div class="carousel-inner">
        <% @project.screenshots.each_with_index do |screenshot, i| %>
          <div class="carousel-item <%= i == 0 ? "active" : "" %>">
            <img class="d-block w-100" src="<%= screenshot.url %>" alt="<%= screenshot.title %>" title="<%= screenshot.title %>"/>
            <% unless screenshot.title.blank? %>
              <div class="carousel-caption d-none d-md-block" style="background-color: #cccccc; opacity: 0.7; color: black;">
                <h5><%= screenshot.title %></h5>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel-screenshots" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true" style="filter: invert(57%) sepia(37%) saturate(274%) hue-rotate(178deg) brightness(90%) contrast(96%);"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel-screenshots" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true" style="filter: invert(57%) sepia(37%) saturate(274%) hue-rotate(178deg) brightness(90%) contrast(96%);"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </ul>
<% end %>

